.ship-card {
  margin-bottom: 15px;
  margin-top: 15px;
  transition: all 0.3s;
  text-align: left;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(13, 202, 240, 0.5) 0 0 0 3px;
  }

  &.on-detailed-page {
    cursor: initial;

    &:hover {
      box-shadow: none;
    }
  }
}

.ship-card-list {
  list-style-type: none;
  padding-left: 0;
}
